DB_HOST=localhost
DB_PORT=5432
DB_NAME=extrato
DB_USER=extrato
DB_PASSWORD=extrato123

AUTH_JWT_SECRET=troque-por-um-segredo-local-forte

PUSH_VAPID_SUBJECT=mailto:seu-email@exemplo.com
PUSH_VAPID_PUBLIC_KEY=COLE_AQUI_A_CHAVE_PUBLICA_VAPID
PUSH_VAPID_PRIVATE_KEY=COLE_AQUI_A_CHAVE_PRIVADA_VAPID

OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_DEPLOYMENT_ENV=local
